flow.json
[{"id":"97404d7a.1350f","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"38767634.7df3da","type":"inject","z":"97404d7a.1350f","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":156.16668701171875,"y":135.33334350585938,"wires":[["5fc72826.2b9738"]]},{"id":"f9ca8067.39fa9","type":"debug","z":"97404d7a.1350f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":546.1666965484619,"y":178.00000762939453,"wires":[]},{"id":"5fc72826.2b9738","type":"function","z":"97404d7a.1350f","name":"","func":"var date = new Date(msg.payload);\nmsg.payload = date.toString();\nreturn msg;","outputs":1,"noerr":0,"x":353.1666946411133,"y":163.0000057220459,"wires":[["f9ca8067.39fa9"]]}]